body {
  width: 1400px;
  height: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

}

.main-menu {
  margin: 0;
  /* padding-left: 300px; */
  /* padding-right: 600px; */
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  border: 1px solid #e5e5e5;
  background-color: #050505;
}

.main-menu li:nth-child(1) {
  padding-left: 40px;
}

.main-menu li:nth-child(2) {
  padding-left: 130px;
}

.main-menu li:nth-child(6) {
  padding-left: 100px;
}

.main-menu li:nth-child(8) {
  padding-left: 100px;
}



.main-menu a {
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-decoration: none;
}


.main-menu li {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
