body {
  width: 1400px;
  height: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

}

.main-menu {
  margin: 0;
  /* padding-left: 300px; */
  /* padding-right: 600px; */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  padding: 20px 600px 20px 300px;
  list-style: none;
  border: 1px solid #e5e5e5;
  background-color: #050505;
}

.main-menu a {
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-decoration: none;
}


.main-menu li {
  display: inline-block;
  margin-right: 5px;
}
