* {
  // background-color: black;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: "GothamPro1";
    src: url("fonts/GothaProReg.otf") format("opentype");
}

@font-face {
    font-family: "GothamPro2";
    font-weight: bold;
    src: url("fonts/GothaProBol.otf") format("opentype");
}

.menu {
   &-container {
      // TODO: почитать про flex и переверстать меню по флексам
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;


      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      background-color: #050505;

      width: 1400px;
      font-size: 14px;
      line-height: 1.4;
      font-family: "GothamPro1", sans-serif;

      a {
      padding: 8px 10px;
      color: #ffffff;
      text-decoration: none;
   }

   li {
      display: inline-block;
      vertical-align: middle;
   }

   nav {
      padding-left: 10%;
   }
}

         &-container .logo {
         padding-left: 7%;
      }

         &-info {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-left: 7%;
         padding-right: 7%;
      }

         &-item a {
      text-transform: uppercase;
   }
}

main {
     position: relative;
     background-color: #444341;
     // TODO: у всех вложенных макро блоков должна быть ширина 100%
     width: 1400px;
     height: 7800px;

    .block-slider {

      &-invite1 {
         padding-left: 100px;
         padding-top: 80px;
   }

      &-photo {
         position: absolute;
         z-index: 0;
         padding-left: 13px;
   }

      &-photo1 {
         position: absolute;
         z-index: 0;
         padding-left: 26px;
   }

      &-photo2 {
         position: absolute;
         z-index: 0;
         padding-left: 28px;
   }

      &-authors {
        padding-left: 450px;
        padding-top: 390px;
   }

      &-author1 {
         float: left;
         padding-top: 80px;
         padding-left: 240px;
   }

      &-name {
         position: relative;
         z-index: 100;
         padding-top: 385px;
   }

      &-author2 {
         position: relative;
         padding-top: 270px;
         padding-left: 810px;
   }

      &-author3 {
         position: relative;
         float: left;
         padding-left: 150px;
   }

      &-author4 {
         position: relative;
         float: right;
         padding-right: 380px;
         padding-top: 190px;
   }

      &-author5 {
         position: relative;
         float: left;
         padding-left: 230px;
         padding-top: 125px;
   }

      &-author6 {
         position: relative;
         float: right;
         padding-right: 330px;
         padding-top: 170px;
   }

      &-special1 {
         position: relative;
         z-index: 100;
         padding-top: 10px;
         padding-left: 204px;
   }

      &-special2 {
         position: relative;
         z-index: 100;
         padding-top: 10px;
         padding-left: 237px;
   }

      &-special3 {
         position: relative;
         z-index: 100;
         padding-top: 10px;
         padding-left: 190px;
   }

      &-special4 {
         position: relative;
         z-index: 100;
         padding-top: 10px;
         padding-left: 190px;
   }

      &-special5 {
         position: relative;
         z-index: 100;
         padding-top: 10px;
         padding-left: 190px;
   }

      &-special6 {
         position: relative;
         z-index: 100;
         padding-top: 10px;
         padding-left: 190px;
   }

      &-invite2 {
         padding-left: 600px;
         padding-top: 1430px;
      }
   }
}

h1 {
  padding-left: 100px;
  padding-top: 70px;
  color: #ffffff;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 1px;
  font-family: "GothamPro2", sans-serif;
  text-transform: uppercase;
}

.clients {
  padding-left: 100px;
  padding-top: 60px;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
  font-family: "GothamPro1", sans-serif;
}

.invite {
  color: #ffffff;
  padding: 10px 40px;
  border: 2px solid #D9B987;
  font-family: "GothamPro1", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.name {
  color: #FFFFFF;
  font-size: 38px;
  border-bottom: 1px solid #D9B987;
  font-family: "GothamPro2", Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.special {
  color: #D9B987;
  font-family: "GothamPro2", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.authors {
  color: #ffffff;
  font-family: "GothamPro2", Arial, sans-serif;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
