* {
  // background-color: black;
  padding: 0;
  margin: 0;

}

@font-face {
    font-family: "GothamPro1";
    src: url("fonts/GothaProReg.otf") format("opentype");
}

@font-face {
    font-family: "GothamPro2";
    font-weight: bold;
    src: url("fonts/GothaProBol.otf") format("opentype");
}

.positioner {
   width: 1400px;
   margin: 0 auto;
}


header {
   margin: 0;
   padding-top: 5px;
   padding-bottom: 5px;
   list-style: none;
   background-color: #050505;
   border: 1px solid yellow;

   width: 100%;
   font-size: 14px;
   line-height: 1.4;
   font-family: "GothamPro1", sans-serif;
}

.menu {
   &-container {
      // TODO: почитать про flex и переверстать меню по флексам
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

         a {
      padding: 8px 10px;
      color: #ffffff;
      text-decoration: none;
      }

      .block-slider-logo {
      flex-grow: 1.3;
      }

         .logo{
      flex-grow: 1;
      }

         nav {
      flex-grow: 2;
      }
         li {
      display: inline-block;
      vertical-align: middle;
      }
}

         &-item a {
      text-transform: uppercase;
      }

         &-info {
      flex-grow: 1.2;
      }
}

main {
     position: relative;
     background-color: #444341;

     // TODO: у всех вложенных макро блоков должна быть ширина 100%

     width: 100%;
     height: 5400px;

     list-style: none;
     border: 1px solid red;

     .block-slider {

      &-invite1 {
         padding-left: 100px;
         padding-top: 80px;
      }

      &-photo {
         position: absolute;
         z-index: 0;
         padding-left: 13px;
      }

      &-photo1 {
         position: absolute;
         z-index: 0;
         padding-left: 45px;
      }

      &-photo2 {
         position: absolute;
         z-index: 0;
         padding-left: 50px;
      }

      &-photo3 {
         position: absolute;
         z-index: 0;
         padding-left: 50px;
      }

      &-photo4 {
         position: absolute;
         z-index: 0;
         padding-left: 50px;
      }

      &-photo5 {
         position: absolute;
         z-index: 0;
         padding-left: 51px;
      }

      &-photo6 {
         position: absolute;
         z-index: 0;
         padding-left: 51px;
      }

      &-authors {
        padding-left: 450px;
        padding-top: 390px;
      }

      &-author1 {
         float: left;
         margin-top: 80px;
         margin-left: 240px;
      }

      &-name {
         position: relative;
         z-index: 100;
         padding-top: 385px;
      }

      &-author2 {
         float: right;
         margin-top: 270px;
         margin-right: 280px;
      }

      &-author3 {
         float: left;
         margin-top: 110px;
         margin-left: 150px;
      }

      &-author4 {
         float: right;
         margin-top: 190px;
         margin-right: 380px;
      }

      &-author5 {
         float: left;
         margin-left: 110px;
         margin-top: 125px;
      }

      &-author6 {
         float: right;
         margin-top: 170px;
         margin-right: 330px;
      }

      &-special1 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 201px;
      }

      &-special2 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 237px;
      }

      &-special3 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 253px;
      }

      &-special4 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 227px;
      }

      &-special5 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 241px;
      }

      &-special6 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 193px;
      }

      &-invite2 {
         padding-top: 2300px;
         padding-left: 600px;
      }

      &-words1 {
         margin-top: 140px;
      }

      &-words2 {
         margin-top: 60px;
      }
   }
}

h1 {
  padding-left: 100px;
  padding-top: 70px;
  color: #ffffff;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 1px;
  font-family: "GothamPro2", sans-serif;
  text-transform: uppercase;
}

.clients {
  padding-left: 100px;
  padding-top: 60px;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
  font-family: "GothamPro1", sans-serif;
}

.invite {
  color: #ffffff;
  padding: 10px 40px;
  border: 2px solid #D9B987;
  font-family: "GothamPro1", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.name {
  color: #FFFFFF;
  font-size: 38px;
  border-bottom: 1px solid #D9B987;
  font-family: "GothamPro2", Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.special {
  color: #D9B987;
  font-family: "GothamPro2", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.authors {
  color: #ffffff;
  font-family: "GothamPro2", Arial, sans-serif;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
   color: #222222;
   font-family: "GothamPro2", Arial, sans-serif;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: 0px;
   text-transform: uppercase;
   text-align: center;
}

.works {
   margin-top: 130px;
   position: relative;
   background-color: white;
   width: 100%;
   height: 1420px;
   list-style: none;
   z-index: 100;
   border: 2px solid pink;
}

.words2 {
   color: #222222;
   font-family: "GothamPro1", Arial, sans-serif;
   font-size: 16px;
   line-height: 25px;
   letter-spacing: 0px;
   text-align: center;
}
