* {
  padding: 0;
  margin: 0;

}

@font-face {
    font-family: "GothamPro1";
    src: url("fonts/GothaProReg.otf") format("opentype");
}

@font-face {
    font-family: "GothamPro2";
    font-weight: bold;
    src: url("fonts/GothaProBol.otf") format("opentype");
}

.positioner {
   width: 1400px;
   margin: 0 auto;
}

body {
   background-color: black;
}

header {
   margin: 0;
   padding-top: 5px;
   padding-bottom: 5px;
   list-style: none;
   background-color: #050505;

   width: 100%;
   font-size: 14px;
   line-height: 1.4;
   font-family: "GothamPro1", sans-serif;
}

.menu {
   &-container {
      // TODO: почитать про flex и переверстать меню по флексам
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;


      nav a {
      padding: 8px 10px;
      }

         a {
      color: #ffffff;
      text-decoration: none;
      }

         .logo{
      flex-grow: 1;
      }

         nav {
      flex-grow: 2;
      }
         li {
      display: inline-block;
      }
}

         &-item a {
      text-transform: uppercase;
      }

         &-info {
      flex-grow: 1.2;
      }
}

   .block-slider {
            &-logo {
      flex-grow: 1.3;
      }

            &-phone {
      margin-right: 10px;
      }
            &-address1 {
      margin-right: 10px;
      }
}

main {
     position: relative;
     background-color: #444341;

     // TODO: у всех вложенных макро блоков должна быть ширина 100%

     width: 100%;
     height: 11800px;

     list-style: none;

      .block-slider {

      &-clients {
        padding-left: 100px;
        padding-top: 60px;
      }

      &-main-invite1 {
         padding-left: 100px;
         padding-top: 80px;
      }

      &-photo {
         position: absolute;
         z-index: 0;
         padding-left: 13px;
      }

      &-photo1 {
         position: absolute;
         z-index: 0;
         padding-left: 45px;
      }

      &-photo2 {
         position: absolute;
         z-index: 0;
         padding-left: 50px;
      }

      &-photo3 {
         position: absolute;
         z-index: 0;
         padding-left: 50px;
      }

      &-photo4 {
         position: absolute;
         z-index: 0;
         padding-left: 50px;
      }

      &-photo5 {
         position: absolute;
         z-index: 0;
         padding-left: 51px;
      }

      &-photo6 {
         position: absolute;
         z-index: 0;
         padding-left: 51px;
      }

      &-authors {
        padding-left: 450px;
        padding-top: 390px;
      }

      &-author1 {
         float: left;
         margin-top: 80px;
         margin-left: 240px;
      }

      &-name {
         position: relative;
         z-index: 100;
         padding-top: 385px;
      }

      &-author2 {
         float: right;
         margin-top: 270px;
         margin-right: 280px;
      }

      &-author3 {
         float: left;
         margin-top: 110px;
         margin-left: 150px;
      }

      &-author4 {
         float: right;
         margin-top: 190px;
         margin-right: 380px;
      }

      &-author5 {
         float: left;
         margin-left: 110px;
         margin-top: 125px;
      }

      &-author6 {
         float: right;
         margin-top: 170px;
         margin-right: 330px;
      }

      &-special1 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 201px;
      }

      &-special2 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 237px;
      }

      &-special3 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 253px;
      }

      &-special4 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 227px;
      }

      &-special5 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 241px;
      }

      &-special6 {
         position: relative;
         z-index: 100;
         margin-top: 10px;
         margin-left: 193px;
      }

      &-main-invite2 {
         padding-top: 2300px;
         padding-left: 600px;
         margin-bottom: 130px;
      }

      &-words1 {
         padding-top: 130px;
      }

      &-words2 {
         margin-top: 60px;
      }
      &-main-photo {
         margin-top: 80px;
         margin-left: 303px;
      }

      &-mini-photo1 {
         margin-top: 30px;
         margin-left: 303px;
      }

      &-mini-photo2 {
         margin-top: 30px;
         margin-left: 17px;
      }
      &-all-works {
         margin-top: 80px;
         text-align: center;
      }
      &-openday {
         padding-left: 100px;
         padding-top: 70px;
      }
      &-time {
         padding-left: 100px;
         padding-top: 70px;
      }
      &-tour {
         padding-left: 100px;
         padding-top: 40px;
      }
      &-enter {
         padding-left: 100px;
         padding-top: 70px;
      }
      &-address2 {
         padding-left: 100px;
         padding-top: 10px;
      }
      &-address3 {
         padding-left: 10px;
         padding-top: 5px;
      }
      &-studio {
         padding-left:  100px;
         padding-top: 260px;
      }
      &-studio-photo1 {
         float: right;
         margin-right: 100px;
      }
      &-studio-photo2 {
         margin-top: 230px;
         margin-left: 100px;
      }
      &-button {
         margin-top: 130px;
         text-align: center;
      }
      &-offers {
        margin-top: 80px;
      }
      &-offer1 {
        flex-grow: 2;
      }
      &-offer2 {
        flex-grow: 0.4;
      }
      &-offer3 {
        flex-grow: 2;
      }
      &-offer4 {
        flex-grow: 1;
      }
      &-offer5 {
        flex-grow: 2;
      }
      &-offer-name {
        text-align: center;
      }
      &-offer-photo {
        text-align: center;
      }
      &-overview-invite {
        margin-top: 80px;
        text-align: center;
      }
      &-history-title {
        padding-top: 130px;
        text-align: center;
      }
      &-history-photo {
        position: absolute;
        margin-top: 80px;
        margin-left: 200px;
      }
      &-feedback-info {
         margin-top: 80px;
         margin-left: 610px;
      }
      &-feedback {
         margin-top: 30px;
      }
      &-feedback-name {
         margin-top: 30px;
      }
      &-steps-title {
         padding-top: 130px;
         text-align: center;
      }
      &-steps {
         margin-top: 80px;
      }
      &-step-title1 {
        margin-top: 30px;
        margin-left: 20px;
      }
      &-step-title2 {
        margin-top: 10px;
        margin-left: 20px;
      }
      &-step-info {
        margin-top: 10px;
        margin-left: 20px;
      }
      &-step-photo {
        float: right;
        margin-top: 30px;
        margin-right: 20px;
      }
      &-step2 {
        margin-top: 350px;
      }
      &-step3 {
        margin-top: 360px;
      }
      &-step-border {
        margin-top: 350px;
      }
      &-steps-invite {
        margin-top: 80px;
        text-align: center;
      }
      &-inside-title {
        padding-top: 130px;
        text-align: center;
      }
      &-inside-photo {
        margin-top: 80px;
        text-align: center;
        margin-bottom: 130px;
      }
      &-faq-title {
        padding-top: 120px;
        text-align: center;
      }
      &-faq1 {
        margin-top: 70px;
      }
      &-faq-step-title {
        margin-top: 15px;
      }
      &-faq-info {
        margin-top: 40px;
      }
      &-faq2 {
        margin-top: 230px;
      }
      &-faq3 {
        margin-top: 60px;
      }
      &-faq4 {
        margin-top: 60px;
      }
      &-faq5 {
        margin-top: 60px;
      }
      &-faq-border {
        margin-top: 60px;
      }
      &-contact {
        &-info {
          padding-top: 130px;
          margin-left: 200px;
          margin-right: 600px;
        }
        &-title {
          margin-top: 60px;
          margin-left: 50px;
        }
        &-phone {
          margin-top: 60px;
          margin-left: 50px;
        }
        &-mail {
          margin-top: 10px;
          margin-left: 50px;
        }
        &-address {
          margin-top: 20px;
          margin-left: 50px;
        }
        &-worktime {
          margin-top: 30px;
          margin-left: 50px;
        }
        &-photo {
          margin-top: 60px;
          margin-left: 50px;
        }
        &-photo2 {
          margin-left: 20px;
        }
        &-photo3 {
          margin-left: 20px;
        }
      }
   } // Сдвиг

      .preview-next-photo {
         display: flex;
      }
      .decor {

      &-clients {
          color: #ffffff;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0px;
          font-family: "GothamPro1", sans-serif;
      }
      &-invite {
          color: #ffffff;
          padding: 10px 40px;
          border: 2px solid #D9B987;
          font-family: "GothamPro1", Arial, sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 1px;
      }
      &-authors {
        color: #ffffff;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 38px;
        line-height: 50px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &-name {
        color: #FFFFFF;
        font-size: 38px;
        border-bottom: 1px solid #D9B987;
        font-family: "GothamPro2", Arial, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &-special {
        color: #D9B987;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-words2 {
        color: #222222;
        font-family: "GothamPro1", Arial, sans-serif;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
      }
      &-all-works {
        color: #222222;
        font-family: "GothamPro1", Arial, sans-serif;
        text-transform: uppercase;
        border-bottom: 2px solid #D9B987;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
      }
      &-openday {
        color: #D9B987;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 38px;
        line-height: 50px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &-time {
        color: white;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-tour {
        color: #ffffff;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0px;
        font-family: "GothamPro1", sans-serif;
      }
      &-enter {
        color: white;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-overview-address {
         display: flex;
      }
      &-address {
        width: 100%;
        font-size: 14px;
        line-height: 1.4;
        font-family: "GothamPro1", sans-serif;
        color: #ffffff;
        text-decoration: none;
      }
      &-studio {
        position: absolute;

        color: white;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-button {
        color: white;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-offer-name {
        color: #ffffff;
        font-family: "GothamPro1", Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
        border-bottom: 2px solid #D9B987;
      }
      &-history-title {
        color: black;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-feedback {
        color: black;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
        font-family: "GothamPro1", sans-serif;
      }
      &-info {
        color: black;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0px;
        font-family: "GothamPro1", sans-serif;

      &-master-name {
          color: black;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 1px;
          font-family: "GothamPro2", sans-serif;
          text-transform: uppercase;
          border-bottom: 2px solid #D9B987;
        }

      &-feedback-name {
          color: black;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0px;
          font-family: "GothamPro1", sans-serif;
        }
      }

      &-steps-title {
        color: white;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-step  {
        border-top: 2px solid #D9B987;
        //border-bottom: 2px solid #D9B987;
        margin-left: 180px;
        margin-right: 180px;
      }
      &-step-title1 {
        color: #D9B987;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 38px;
        line-height: 50px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &-step-title2 {
        color: #ffffff;
        font-family: "GothamPro2", Arial, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
      }
      &-step-info {
        color: white;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0px;
        font-family: "GothamPro1", sans-serif;
      }
      &-step-text {
        position: absolute;
      }
      &-border {
        border-top: 2px solid #D9B987;
      }
      &-inside-title {
        color: black;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-faq-title {
        color: white;
        font-family: "GothamPro2", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
      &-faq {
        border-top: 1px solid #D9B987;
        //border-bottom: 2px solid #D9B987;
        margin-left: 100px;
        margin-right: 100px;
      }
      &-faq-step-title {
        color: #ffffff;
        font-family: "GothamPro2", Arial, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
      }
      &-faq-info {
        color: white;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0px;
        font-family: "GothamPro1", sans-serif;
      }
      &-contact {
        &-title {
          color: #D9B987;
          font-family: "GothamPro2", Arial, sans-serif;
          font-size: 28px;
          line-height: 40px;
          letter-spacing: 0px;
          text-transform: uppercase;
        }
        &-phone {
          color: #ffffff;
          font-family: "GothamPro2", Arial, sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0px;
        }
        &-mail {
          color: white;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0px;
          font-family: "GothamPro1", sans-serif;
        }
        &-address {
          color: white;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0px;
          font-family: "GothamPro1", sans-serif;
        }
        &-worktime {
          color: white;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0px;
          font-family: "GothamPro1", sans-serif;
        }
        &-photo {
          display: flex;
        }
      }
   }
}

h1 {
  padding-left: 100px;
  padding-top: 70px;
  color: #ffffff;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 1px;
  font-family: "GothamPro2", sans-serif;
  text-transform: uppercase;
}

h3 {
   color: #222222;
   font-family: "GothamPro2", Arial, sans-serif;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: 0px;
   text-transform: uppercase;
   text-align: center;
}

.preview {
   position: relative;
   background-color: #ffe0c9;
   width: 100%;
   height: 1340px;
   list-style: none;
   z-index: 100;
}

.overview {
   position: relative;
   background-color: #757571;
   width: 100%;
   height: 2170px;
   list-style: none;
   z-index: 100;
}

.menu-offer {
  display: flex;
  align-items: center;
}

.history {
  position: relative;
  background-color: #FF5C1010;
  width: 100%;
  height: 740px;
  list-style: none;
  z-index: 100;
}

.steps {
  position: relative;
  background-color: black;
  width: 100%;
  height: 1575px;
  list-style: none;
  z-index: 100;
}

.inside {
  position: relative;
  background-color: rgba(102, 99, 99, 0.84);
  width: 100%;
  height: 920px;
  list-style: none;
  z-index: 100;
}

.faq {
  position: relative;
  background-color: black;
  width: 100%;
  height: 835px;
  list-style: none;
  z-index: 100;
}

.contact {
  position: relative;
  background-color: black;
  width: 100%;
  height: 730px;
  list-style: none;
  z-index: 100;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  list-style: none;
  background-color: #050505;

  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //justify-content: flex-start;

  .address {
    margin-left: 100px;
    display: flex;
    flex-grow: 1;
  }

  .block-slider {
    &-footer-photo1 {
      margin-right: 20px;
    }
    &-footer-photo2 {
      margin-right: 20px;
    }
    &-address {
      margin-right: 10px;
    }
  }

  .decor {
    display: flex;
    //border: 1px solid green;
      &-address {
        color: #FFFFFF;
        width: 100%;
        font-size: 14px;
        line-height: 1.4;
        font-family: "GothamPro1", sans-serif;
        align-self: center;
        flex-grow: 2;
        //border: 1px solid yellow;
      }
      &-photo {
        display: flex;
        //border: 1px solid red;
        //float: right;
        margin-right: 100px;
      }
  }
}
